.alert
  --bs-alert-margin-bottom: 0;
  &:empty
    display: none

h5
  margin-bottom: 0

h6
  text-align: right

span.dukebrand
  background: linear-gradient( var(--button-text), var(--highlight-color))
  background-clip: text
  color: transparent

.custom-tooltip
  --bs-tooltip-max-width: 900px
  .tooltip-inner
    text-align: left

body
  background-color: var(--background)
  background: var(--background)
  background-attachment: fixed
  a
    text-decoration: none

svg
  fill: var(--bs-body-color)
  stroke: var(--bs-body-color)
  height: 1.5rem
  width: 1.5rem

.font-smaller
  font-size: 0.8rem

.pe-6
  padding-right: 4rem

ul.mainicons
  padding-left: 4rem
ul.mainicons li.nav-item
  border-radius: 50%
  background: linear-gradient( 135deg, rgba(43, 47, 52, 1) 0%, rgba(49, 56, 61, 1) 100%)
  box-shadow: 0.2vw 0.2vw 0.7vw #16191b, -0.2vw -0.2vw 0.7vw #4c575f
  &:has(a.nav-link:active)
    background: linear-gradient( 135deg, var(--highlight-color) 10%, #000 100%)
    box-shadow: inset 0.2vw 0.2vw 0.7vw #16191b, -0.2vw -0.2vw 0.7vw #4c575f

ul.mainicons .nav-link
  border-radius: 50%
  transform: scale(0.9)
  background: linear-gradient( 135deg, rgba(46, 52, 57, 1) 0%, rgba(27, 30, 34, 1) 100%)
  box-shadow: 0.2vw 0.2vw 0.7vw #16191b, -0.2vw -0.2vw 0.7vw #4c575f
  box-shadow: inset 0 0 0.3vw rgba(255, 255, 255, 0.1)
  border: none
  &:active
    box-shadow: inset 0.75vw 0.75vw 0.75vw rgba(0, 0, 0, 0.3)
    background: linear-gradient( 135deg, var(--highlight-color) 0%, color-mix(in srgb, var(--highlight-color) 10%, transparent) 100%)

.nav-link.active svg
  fill: var(--highlight-color)

input#mainform
  border: unset
  box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333
  box-shadow: linear-gradient( 135deg, rgba(32, 37, 41, 1) 0%, rgba(22, 24, 25, 1) 100%)
  &:focus
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333
    box-shadow: linear-gradient( 135deg, rgba(32, 37, 41, 1) 0%, rgba(22, 24, 25, 1) 100%)

.sticky-sidebar
  margin-top: 0.2rem
  padding: 0.8rem
  background: rgba(255,255,255,0.05)
  border-radius: 10px
  border: 1px solid var(--highlight-color)
  box-shadow: 4px 4px 10px rgba(255,255,255,0.1), -4px -4px 10px rgba(255,255,255,0.5)
  box-shadow: 0.2vw 0.2vw 0.7vw #16191b, -0.2vw -0.2vw 0.7vw #4c575f
  overflow-x: hidden
  .btn
    --bs-btn-font-size: 10px
  li.nav-item
    --bs-nav-link-padding-x: 0.5rem
  .nav-link
    --bs-nav-link-font-size: 8px


.usage-and-suggestions
  background: var(--bs-secondary-bg-subtle)
  &:has(.position:empty):has(#message:empty)
    background: transparent

#message
  padding: 1rem
  height: 3.5rem

#suggestion-container
  width: 81vw
  max-width: 81vw
  display: grid
  grid-template-columns: min-content 1fr max-content
  grid-template-areas: "current futures position"
  .current
    grid-area: current
  .futures
    grid-area: futures
    overflow: hidden
    height: 1.5rem
    a:first-child
      opacity: 0.90
    a:nth-child(2)
      opacity: 0.82
    a:nth-child(3)
      opacity: 0.74
    a:nth-child(4)
      opacity: 0.66
    a:nth-child(5)
      opacity: 0.58
    a:nth-child(6)
      opacity: 0.50
    a:nth-child(7)
      opacity: 0.42
    a:nth-child(8)
      opacity: 0.34
    a:nth-child(9)
      opacity: 0.26
    a:nth-child(n+10)
      opacity: 0.18
  .position
    grid-area: position
    font-style: italic
  span.suggestion-container
    color: #1da1f2

.deleter
  width: 2.125rem
  .btn
    display: none

.historyitem
  counter-increment: history

.todoitem
  counter-increment: todo

.alias, .bookmark, .historyitem, .matcher, .todoitem
  min-height: 2.5rem
  border: 1px dashed transparent
  &:hover
    backdrop-filter: saturate(2)
    box-shadow: var(--hovershadow)
    background-color: #141618
    .deleter .btn
      display: inline-block

.historynum, .todonum
  flex-basis: 34px
  text-align: right
  padding-right: .5rem
  width: 2.125rem
  &::before
    color: var(--highlight-color)
    opacity: 0.3

.historynum
  &::before
    content: counter(history)
.todonum
  &::before
    content: counter(todo)

.historyinfo svg
  height: 2rem
  width: 2rem

ul.tagcloud li
  padding: 0.125rem 0.25rem
  line-height: 2rem
  &:hover
    box-shadow: var(--hovershadow)
  a
    --css-is-awesome: calc(12px * var(--size))
    font-size: var(--size)
    &:after
      content: var(--bump)

.prefdisplay, .aliases, .history, .bookmarks, .sticky-sidebar
  height: 80vh
  overflow-y: auto

.aliases
  overflow-x: hidden

@media only screen and (max-width: 926px)
  .duke-gutter, .historynum
    display: none
  .bookmarkui .btn, .alias > .deleter .btn, .historyitem > .deleter .btn, .matcher .btn
    display: inline-block
    padding: 0.1875rem 0.25rem
  .bookmarkui .bmtags .btn
    font-size: 0.6rem
