\::after,::before
  box-sizing: border-box
html
  overflow-y: scroll
  scrollbar-color: var(--highlight-color) black
  scrollbar-width: thin
  text-rendering: geometricPrecision
  font-family: var(--font-main)
body
  background-color: var(--background)
  background: var(--background)
  background-attachment: fixed
  color: var(--text-color)
  font-size: var(--font-size)
  line-height: 1.5
body, input
  margin: 0
  font-family: var(--font-main)
a, a:visited
  color: var(--link-color)
  text-decoration: none
h1,h2,h3,h4,h5,h6,a.tagcloud,.btn
  font-family: var(--font-alt)
  margin-top: 0
  margin-bottom: .5rem
  font-weight: 500
  line-height: 1.2
h2
  font-size: 2rem
h6
  font-size: 1rem
ul
  list-style: none
  padding: 0 0 0 1em
  margin-top: 4px
  margin-bottom: 0px
.ms-2
  margin-left: .5rem
.mx-2
  margin-left: .5rem
  margin-right: .5rem
.btn, a.btn
  padding: 0.375rem 0.5rem
  display: inline-block
  background-color: var(--button-color)
  background-image: var(--button-color)
  border: 1px solid var(--button-color)
  color: var(--button-text)
  cursor: pointer
  border-radius: 0.375rem
  font-size: 1rem
  line-height: 1.5
  &.btn-sm
    padding: 0.25rem
    font-size: 0.7rem
.text-center
  text-align: center
.font-smaller
  font-size: smaller

