@font-face {
    font-family: 'Oxanium';
    src: url('woff2/Oxanium-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    font-weight: 700;
    font-display: swap;
    src: url('cinzel/Cinzel.woff2') format('woff2');
    src: url('cinzel/Cinzel-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Cinzel';
    font-weight: 400;
    font-display: swap;
    src: url('cinzel/Cinzel.woff2') format('woff2');
    src: url('cinzel/Cinzel-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'Intel One Mono';
    src: local('Intel One Mono'), local('IntelOneMono-Regular'),
        url('IntelOneMono-Regular.woff2') format('woff2'),
        url('IntelOneMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

