svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="Aliases" x="0px" y="0px" height="24px" width="24px"
  g
    path d="M8.8293 20C8.4175 21.1652 7.3062 22 6 22 4.3431 22 3 20.6569 3 19 3 17.3431 4.3431 16 6 16 7.3062 16 8.4175 16.8348 8.8293 18L17.5 18C18.8807 18 20 16.8807 20 15.5 20 14.1193 18.8807 13 17.5 13L6.5 13C4.0147 13 2 10.9853 2 8.5 2 6.0147 4.0147 4 6.5 4L9.5858 4 8.2929 2.7071 9.7071 1.2929 13.4142 5 9.7071 8.7071 8.2929 7.2929 9.5858 6 6.5 6C5.1193 6 4 7.1193 4 8.5 4 9.8807 5.1193 11 6.5 11L17.5 11C19.9853 11 22 13.0147 22 15.5 22 17.9853 19.9853 20 17.5 20L8.8293 20ZM6 18C5.4477 18 5 18.4477 5 19 5 19.5523 5.4477 20 6 20 6.5523 20 7 19.5523 7 19 7 18.4477 6.5523 18 6 18ZM18 2C19.6569 2 21 3.3431 21 5 21 6.6569 19.6569 8 18 8 16.3431 8 15 6.6569 15 5 15 3.3431 16.3431 2 18 2ZM18 4C17.4477 4 17 4.4477 17 5 17 5.5523 17.4477 6 18 6 18.5523 6 19 5.5523 19 5 19 4.4477 18.5523 4 18 4Z"
