.outer.row
  h6 Aliases
  - alis =  DukeOfUrl::Matchers.aliases.all.group_by(&:first_letter)
  .aliasui.row
    ul.nav
      - alis.keys.each do |letter|
        li.nav-item
          a.nav-link href="#alias#{letter}" #{letter.upcase.sub(/00/,'#')}

  .aliases.row.col-12 hx-boost="true" hx-target="closest .alias" hx-swap="outerHTML swap"
    - alis.keys.each do |letter|
      div id="alias#{letter}"
        - alis[letter].each do |alius|
          .alias.row.flex-nowrap.g-0.mb-2
            .deleter.col-1
              form action="/matcher_delete/#{alius.id}" method="post"
                button.btn.btn-danger type="submit" hx-ext="focus-search" hx-trigger="click" X
            .aliasverb.col-2.ps-1.pe-2.flex-grow
              - if alius.args?
                button.btn.btn-primary data-duketype="alias" data-verb="#{alius.verb}" data-template="#{alius.template}" #{alius.verb}
              - else
                a.text-decoration-none hx-boost="false" data-duketype="alias" data-verb="#{alius.verb}" data-template="#{alius.template}" href="?q=#{alius.verb}" #{alius.verb}

            .aliastemplate.col.flex-shrink
              span.font-smaller #{alius.template}


javascript:
  document.querySelectorAll('[data-duketype="alias"]').forEach((i) => {
    i.addEventListener('click', (event) => {
      if(event.altKey){
        mainform.value = "alias " +  event.target.dataset.verb + " " + event.target.dataset.template; mainform.focus();
      }else{
        mainform.value = event.target.dataset.verb; mainform.focus();
      }
    })
  });
