- suffix = @params['bms'] ? %Q{that contain "#{params['bms']}"} : ""
- count = @bookmarks.length
.outer.bookmarks hx-boost="true" hx-target="closest .bookmark" hx-swap="outerHTML swap"
  h6 #{count} Bookmarks #{suffix}
  - @bookmarks.each  do |bookmark|
    .row.bookmark.bookmarkui.mb-2.g-0
      .deleter.col-1
        form action="/delbookmark/#{bookmark.id}" method="post"
          button.btn.btn-danger type="submit" hx-ext="focus-search" hx-trigger="click" X
      .bmtags.col-lg-4.col-md-4.d-flex.flex-wrap.justify-content-end.me-2 hx-boost="false"
        - bookmark.tags.each do |tag|
          a.btn.btn-primary.btn-sm.ms-2 title="Bookmarks: #{tag.bookmark_count}" data-duketype="bmtag" data-tag="#{tag.tag}" role="button" href="/bookmarks/#{tag.tag}" #{tag.tag}
      .bmlink.col-lg-6.col-md-7.text-nowrap.overflow-hidden hx-boost="false"
        a.bm-link data-duketype="bookmark" data-destination="#{bookmark.url}" data-tags="#{bookmark.tags.to_json}" href="/?q=#{bookmark.encoded_url}" #{bookmark.url}
javascript:
  document.querySelectorAll('[data-duketype="bookmark"]').forEach((i) => {
    i.addEventListener('click', (event) => {
      if( event.altKey){
        mainform.value = "bm " + event.target.dataset.destination + " " + JSON.parse(event.target.dataset.tags).join(', ');
        mainform.focus();
        event.preventDefault();
      }
    })
  });
  document.querySelectorAll('[data-duketype="bmtag"]').forEach((i) => {
    i.addEventListener('click', (event) => {
      if( event.altKey){
        var tag = '"' + event.target.dataset.tag + '"';
        mainform.value = "bmretag " + tag + " ";
        mainform.focus();
        event.preventDefault();
      }
    })
  });
