    / you can't put ruby vars into SASS via Slim, I gather
    style
      |:root{
      | --bs-font-sans-serif: #{{prefs.fetch('ui:font:primary')}};
      | --bs-btn-color: #{{prefs.fetch('ui:button:text:color')}};
      | --bs-btn-hover-color: #{{prefs.fetch('ui:button:text:color')}};
      | --bs-btn-active-color: #{{prefs.fetch('ui:button:text:color')}};
      | --bs-btn-disabled-color: #{{prefs.fetch('ui:button:text:color')}};
      | --bs-body-font-size: #{{prefs.int('ui:font:size')}}px;
      | --bs-btn-font-size: #{{prefs.int('ui:font:size')}}px;

      | --background: #{{prefs.fetch('ui:background')}};
      | --button-text: #{{prefs.fetch('ui:button:text:color')}};
      | --dim-highlight: color-mix(in srgb, #{{prefs.fetch('ui:highlight')}} 50%, transparent);
      | --font-alt: #{{prefs.fetch('ui:font:secondary')}};
      | --font-main: #{{prefs.fetch('ui:font:primary')}};
      | --highlight-color: #{{prefs.fetch('ui:highlight')}};
      | --hovershadow: #{{prefs.fetch('ui:hovershadow')}};
      | --text-color: #{{prefs.fetch('ui:text:color')}};
      | --danger-color: #{{prefs.fetch('ui:button:danger:color')}};
      | --link-color: #{{prefs.fetch('ui:link:color')}};
      |}
      |a{
      | --bs-link-color-rgb: #{{prefs.fetch('ui:link:color')}};
      |}
      |.btn{
      | --bs-btn-font-size: #{{prefs.int('ui:font:size')}}px;
      |}
      / really bootstrap?
      |.btn-danger{
      | --bs-btn-bg: #{{prefs.fetch('ui:button:danger:color')}};
      | --bs-btn-hover-bg: #{{prefs.fetch('ui:button:danger:color')}};
      | --bs-btn-border-color: #{{prefs.fetch('ui:button:danger:color')}};
      | --bs-btn-hover-border-color: #{{prefs.fetch('ui:button:danger:color')}};
      | --bs-btn-active-bg: #{{prefs.fetch('ui:button:danger:color')}};
      | --bs-btn-active-border-color: #{{prefs.fetch('ui:button:danger:color')}};
      | --bs-btn-disabled-bg: #{{prefs.fetch('ui:button:danger:color')}};
      | --bs-btn-disabled-border-color: #{{prefs.fetch('ui:button:danger:color')}};
      | --bs-btn-color: #{{prefs.fetch('ui:button:text:color')}};
      | --bs-btn-hover-color: #{{prefs.fetch('ui:button:text:color')}};
      | --bs-btn-active-color: #{{prefs.fetch('ui:button:text:color')}};
      | --bs-btn-disabled-color: #{{prefs.fetch('ui:button:text:color')}};
      |}
      |.btn-primary{
      | --bs-btn-bg: #{{prefs.fetch('ui:button:color')}};
      | --bs-btn-hover-bg: #{{prefs.fetch('ui:button:color')}};
      | --bs-btn-border-color: #{{prefs.fetch('ui:button:color')}};
      | --bs-btn-hover-border-color: #{{prefs.fetch('ui:button:color')}};
      | --bs-btn-active-bg: #{{prefs.fetch('ui:button:color')}};
      | --bs-btn-active-border-color: #{{prefs.fetch('ui:button:color')}};
      | --bs-btn-disabled-bg: #{{prefs.fetch('ui:button:color')}};
      | --bs-btn-disabled-border-color: #{{prefs.fetch('ui:button:color')}};
      | --bs-btn-color: #{{prefs.fetch('ui:button:text:color')}};
      | --bs-btn-hover-color: #{{prefs.fetch('ui:button:text:color')}};
      | --bs-btn-active-color: #{{prefs.fetch('ui:button:text:color')}};
      | --bs-btn-disabled-color: #{{prefs.fetch('ui:button:text:color')}};
      |}
      |.list-group{
      | --bs-list-group-active-bg: color-mix(in srgb, #{{prefs.fetch('ui:highlight')}} 50%, transparent);
      | --bs-list-group-active-border-color: #{{prefs.fetch('ui:button:color')}};
      | --bs-list-group-active-color: #{{prefs.fetch('ui:button:text:color')}};
      |}
