- long = prefs.bool('history:verbose')
- showbmt = prefs.bool('history:bookmarktags')
- showmatcher = prefs.fetch('history:matcher')
- longclass = long ? "verbose" : ""
.outer.history hx-boost="true" hx-target="closest .historyitem" hx-swap="outerHTML swap"
  h6 History
  - @history.each do |history|
    .d-flex.historyitem.pe-1.lh-lg
      .deleter.flex-shrink-0
        form action="/deletehistory/#{history.id}" method="post"
          button.btn.btn-danger type="submit" hx-ext="focus-search" hx-trigger="click" X
      .historynum.flex-shrink-1.px-2
      .goods.historylink.flex-grow-1.text-nowrap.overflow-hidden.pe-4 hx-boost="false"
        a href="/?q=#{history.encoded}" #{history}
      .assocb.flex-shrink-1
        - if showmatcher != 'off' && history.associated_matcher
          a.btn.btn-info.btn-sm.ms-2 title="Matching matcher" hx-boost="false" data-duketype="matcher" data-label="#{history.associated_matcher.label}" role="button" href="#" #{history.associated_matcher.label}
        - if showbmt && history.associated_bookmark
          - history.associated_bookmark.tags.each do |tag|
            a.btn.btn-primary.btn-sm.ms-2 title="Count: #{tag.bookmark_count}" hx-boost="false" data-duketype="bmtag" data-tag="#{tag.tag}" role="button" href="/bookmarks/#{tag.tag}" #{tag.tag}
      - if long
        .historyinfo.flex-shrink-1 data-bs-custom-class="custom-tooltip" data-bs-placement="left" data-bs-toggle="tooltip" data-bs-html="true" title="ID: #{history.id}<br/>Visits: <strong>#{history.visit_count}</strong><br/>Recent: <strong>#{history.ago}</strong> ago<br/>First: <strong>#{history.orig}</strong>"
          == slim :infosvg

javascript:
  document.querySelectorAll('[data-duketype="matcher"]').forEach((i) => {
    i.addEventListener('click', (event) => {
      if(event.altKey){
        mainform.value = "edit matcher " +  event.target.dataset.label; mainform.focus();
      }else{
        mainform.value = event.target.dataset.label; mainform.focus();
      }
    })
  });
