svg height="24px" width="24px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 295 295" xml:space="preserve" role="img" aria-labelledby="History"
  g
    path d="M258.61 0H36.233C16.254 0 0 16.254 0 36.232V258.61c0 19.979 16.254 36.232 36.232 36.232 3.313 0 6-2.687 6-6s-2.687-6-6-6C22.871 282.843 12 271.972 12 258.61V36.232C12 22.871 22.871 12 36.233 12H258.61c13.362 0 24.232 10.871 24.232 24.232V258.61c0 13.362-10.87 24.232-24.232 24.232H100.422c-3.313 0-6 2.687-6 6s2.687 6 6 6H258.61c19.979 0 36.232-16.254 36.232-36.232V36.232C294.843 16.254 278.589 0 258.61 0zM147.422 51.992c-3.313 0-6 2.687-6 6v89.43c0 1.591.632 3.117 1.757 4.243l100 100c1.171 1.171 2.707 1.757 4.242 1.757s3.071-.586 4.242-1.757c2.344-2.343 2.344-6.142 0-8.485l-98.242-98.243V57.992C153.422 54.678 150.735 51.992 147.422 51.992z"
