- bmcount    = prefs.fetch('bookmarks:show')
- @bookmarks = DukeOfUrl::Bookmarks::Bookmark.order_by(Sequel.desc(:id)).limit(bmcount).all
- histcount  = prefs.int('history:show')
- @history   = DukeOfUrl::History.read(histcount)
- shower     = prefs.fetch('ui:default:tab')
- stickytab  = prefs.fetch('ui:sticky')
ul.nav.pb-3.mainicons role="tablist"
  li.nav-item.me-2 role="presentation"
    a.nav-link.active href="#" title="History" data-bs-target="#historytab" role="tab"
      == slim :historysvg

  - unless stickytab == 'aliases'
    li.nav-item.me-2 role="presentation"
      a.nav-link href="#" title="Aliases" data-bs-target="#aliasestab" role="tab"
        == slim :aliassvg

  - unless stickytab == 'tag_cloud'
    li.nav-item.me-2 role="presentation"
      a.nav-link href="#" title="Bookmark Tag Cloud" data-bs-target="#tagcloudtab" role="tab"
        == slim :tagcloudsvg

  - unless stickytab == 'bookmarks'
    li.nav-item.me-2 role="presentation"
      a.nav-link href="#" title="Bookmarks" data-bs-target="#bookmarkstab" role="tab"
        == slim :bookmarksvg

  - unless stickytab == 'todo'
    li.nav-item.me-2 role="presentation"
      a.nav-link href="#" title="To Do" data-bs-target="#todotab" role="tab"
        == slim :todosvg

  li.nav-item role="presentation"
    a.nav-link href="/preferences/"
      == slim :prefssvg

.tab-content
  section#historytab.tab-pane.show.active tabindex="0"
    == slim :history

  - unless stickytab == 'aliases'
    section#aliasestab.tab-pane tabindex="0"
      == slim :aliases

  - unless stickytab == 'tag_cloud'
    section#tagcloudtab.tab-pane tabindex="0"
      == slim :tag_cloud

  - unless stickytab == 'bookmarks'
    section#bookmarkstab.tab-pane tabindex="0"
      == slim :bookmarks

  - unless stickytab == 'todo'
    section#todotab.tab-pane tabindex="0"
      == slim :todo

javascript:
  const tabbos = document.querySelectorAll('ul.nav li a[href="#"]')
  tabbos.forEach((triggerEl) => {
    const tabTrigger = new bootstrap.Tab(triggerEl)
    triggerEl.addEventListener('click', e => {
      e.preventDefault()
      tabTrigger.show()
      mainform.focus()
    })
  })
  var qs = #{{%Q{'[data-bs-target="##{shower}tab"]'}}};
  const shower = document.querySelector(qs);
  bootstrap.Tab.getInstance(shower).show();
