svg width="32px" height="32px" version="1.1" viewBox="144 144 512 512" xmlns="http://www.w3.org/2000/svg"
  g id="IconSvg_bgCarrier" stroke-width="0"
  g id="IconSvg_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
  g id="IconSvg_iconCarrier"
    path xmlns="http://www.w3.org/2000/svg" d="m400 278.58c-67.008 0-121.42 54.41-121.42 121.42s54.41 121.42 121.42 121.42c67.004 0 121.42-54.414 121.42-121.42 0-67.008-54.414-121.42-121.42-121.42zm0 220.16c-54.41 0-98.746-44.336-98.746-98.746s44.336-98.746 98.746-98.746c54.41-0.003906 98.746 44.332 98.746 98.746 0 54.41-44.336 98.746-98.746 98.746zm11.586-108.82v75.066c0 6.0469-5.0391 11.586-11.586 11.586-6.0469 0-11.586-5.0391-11.586-11.586l-0.003906-75.066c0-6.0469 5.0391-11.586 11.586-11.586 6.0469 0.50391 11.59 5.5391 11.59 11.586zm3.0234-45.344c0 8.0625-6.5508 14.609-14.609 14.609-8.0625 0-14.609-6.5508-14.609-14.609 0-8.0625 6.5508-14.609 14.609-14.609s14.609 6.5508 14.609 14.609z"
