- stickytab = prefs.fetch('ui:sticky')
- maingrow = stickytab != 'none' ? 'col-lg-9 pe-2' : 'col-lg-12 pe-6'
doctype html
html data-bs-theme="dark"
  head
    title Duke of Url
    link href="/webfonts/fonts.css" rel="stylesheet"

    script src="/js/htmx.min.js"
    script src="/js/bootstrap.bundle.min.js"
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta charset="utf-8"
    link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="DukeOfUrl"
    link rel="stylesheet" href="/bootstrap.min.css"
    link rel="stylesheet" href="/css/bsaddons.css"
    == slim :cssprefs

  body hx-push-url="false"

    header.row.g-0
      .col-lg-1.pt-2.d-none.d-lg-block
      .col-lg-10.col-md-12.px-md-3.pt-2.duke-main style="height: 9.25rem"
        == slim :mainform
      .col-lg-1.d-none.d-lg-block.text-end.mt-4
        - if stickytab == 'none'
          span.dukebrand.me-2 title="Version #{DukeOfUrl::VERSION}"
            | Duke
            sup &nbsp;of&nbsp;
            | URL

    main.row.container-fluid
      .col-md-12.px-3 class="#{maingrow}"
        .row
          == yield
      - if stickytab != 'none'
        .col-lg-3.d-none.d-lg-block.font-smaller
          .text-end.mt-4
            span.dukebrand.me-2 title="Version #{DukeOfUrl::VERSION}"
              | Duke
              sup &nbsp;of&nbsp;
              | URL
          .sticky-sidebar
            == slim stickytab.to_sym


javascript:
  var mainform = document.getElementById("mainform")
  mainform.focus()
  document.querySelectorAll('label.tabnav').forEach((i) => { i.addEventListener("click", function(){ mainform.focus() }) })

== slim :mainformjs
