.form.input-container.col-md-12.mt-2
  form#q action="/"
    - val = ''
    - val = @handler.form_value if @handler && @handler.respond_to?(:form_value)
    input#mainform.form-control.form-control-lg.bg-dark.text-white type="text" name="q" autocomplete="off" value="#{val}"

.usage-and-suggestions
  div#suggestion-container
    .current.me-2
      span.suggestion-container.badge.text-bg-primary
    .futures.d-flex
    .position

  #message
    - if @handler && @handler.message
      h5 #{@handler.message}
