javascript:

  const showHints    = #{prefs.fetch('ui:hints')}
  const textInputEl  = document.querySelector("input#mainform")
  const suggestionEl = document.querySelector("#suggestion-container .current .suggestion-container")
  const suggestionfu = document.querySelector("#suggestion-container .futures")
  const suggestionpo = document.querySelector("#suggestion-container .position")
  const messagediv   = document.querySelector('#message')
  const qform        = document.querySelector('#q')

  const BACKSPACE  = 8
  const CTRL       = 17
  const CTRL_D     = 68
  const DOWN_ARROW = 40
  const ENTER      = 13
  const SHIFT      = 55
  const SPACE      = 32
  const TAB        = 9
  const UP_ARROW   = 38


  let suggestion        = {}
  let arrowKeyWordless  = 0
  let suggestion_buffer = []
  let suggestion_index  = 0
  let suggestion_input  = ''

  async function historySuggest(e) {
    if (arrowKeyWordless <= 0 ){
      arrowKeyWordless = 0
      e.target.value   =''
      return
    }
    fetch(`/history_suggest/${arrowKeyWordless}`, { method: "GET"})
      .then((response) => response.text()).then((suggestion) => {
        e.target.value = suggestion
    })
  }

  function suggestion_formatter(suggestion){
    return `<a href="/?q=${encodeURIComponent(suggestion.suggestion)}" class="me-1 badge text-bg-secondary">${suggestion.suggestion}</a>`
  }

  function reset_typeahead(){
    suggestion_index = 0
    suggestionEl.innerHTML = ''
    suggestionpo.innerHTML = ''
    suggestionfu.innerHTML = ''
    messagediv.innerHTML = ''
  }

  function suggest(suggestions, for_input){
    suggestion_buffer = suggestions
    suggestion_input  = for_input
    suggestion        = suggestions[ suggestion_index ]
    if( suggestion === undefined){
      reset_typeahead()
      return
    }
    //jfc
    if ( Object.values(suggestion).length > 0 ){
      if (showHints){ messagediv.innerHTML = suggestion.usage }
      suggestionEl.innerHTML = ""
      suggestionpo.innerHTML = ''
      if ( Object.values(suggestions).length == 1 && for_input.startsWith(suggestion.suggestion) ){ return; }
      if (suggestion.suggestion != undefined && suggestion.suggestion != '&nbsp;') {
        suggestionEl.innerHTML = suggestion.suggestion
        suggestionfu.innerHTML = suggestions.slice(suggestion_index + 1,).map(s => suggestion_formatter(s)).join(" ")
        suggestionpo.innerHTML = (suggestion_index +1) + "/" + suggestions.length
      }
    }
  }

  async function typeAhead(e) {
    let inputValue = e.target.value
    if(inputValue == ''){ return {} }

    let willthiseverend = JSON.stringify({"input": inputValue})

    fetch("/typeahead", { method: "POST", body: willthiseverend })
      .then((response) => { return response.json() }).then((suggestions) => {
        reset_typeahead()
        if ( textInputEl.value != ''){ suggest(suggestions, inputValue) }
      })
  }

  textInputEl.addEventListener("keyup", e => {
    if (e.keyCode == BACKSPACE) {
      let val = e.target.value
      if(val.trim().length == 0){
        reset_typeahead()
        arrowKeyWordless = 0
        return
      }
      typeAhead(e)
    }
    if (e.keyCode == CTRL) { return }
    if (e.key == 'Shift') { return }
    if (e.keyCode == UP_ARROW){
      arrowKeyWordless++
      historySuggest(e)
      return
    }
    if (e.keyCode == DOWN_ARROW) {
      arrowKeyWordless--
      historySuggest(e)
      return
    }
    if ( e.keyCode == CTRL_D && e.ctrlKey ){
      e.preventDefault()
      suggestion_index++
      if(suggestion_index >= suggestion_buffer.length){ reset_typeahead() }
      suggest(suggestion_buffer)
      return
    }
    typeAhead(e)
  })

  textInputEl.addEventListener("keydown", e => {
    // ^u because emacs, I guess? I wanted ^c, but I guess cavemen should be able to copy text
    if ( e.keyCode == '85' && e.ctrlKey ){
      e.target.value=''
      suggestionEl.innerHTML = ""
      return
    }
    if ( e.keyCode == ENTER ){
      e.preventDefault()
      if ( suggestion_index > 0 ){ e.target.value = suggestionEl.innerHTML }
      qform.submit()
    }
    if ( e.keyCode == CTRL_D && e.ctrlKey ){
      e.preventDefault()
      return
    }
    if ( e.keyCode == TAB) {
      e.preventDefault()
      e.target.value = suggestionEl.innerHTML
      suggestionEl.innerHTML = ""
      return
    }

  })

  htmx.defineExtension('focus-search', {
    onEvent: () => {
      mainform.focus()
    }
  })

  // Boots
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
