.outer.matchers hx-boost="true" hx-target="closest .matcher" hx-swap="outerHTML swap"
  h6 Matchers
  - @matchers.each do |matcher|
    .d-flex.matcher.pb-2.lh-lg
      .deleter.flex-shrink-1
        form action="/matcher_delete/#{matcher.id}" method="post"
          button.btn.btn-danger type="submit" hx-ext="focus-search" hx-trigger="click" X
      .matacher-label.col-2.ms-2 data-duketype="matcher" data-label="#{matcher.label}"
        | #{matcher.label}
        - if matcher.flags != ''
          sup data-bs-toggle="tooltip" data-bs-title="Case Insensitive" #{matcher.flags}
      .col
        .matcher-regex.row
          label.col-sm-1.col-form-label Matcher
          .col-sm-10
            input.overflow-scroll.form-control-plaintext readonly=true type="text" value="#{matcher.matcher}"
        .matcher-template.row
          label.col-sm-1.col-form-label Template
          .col-sm-11.overflow-scroll
            input.form-control-plaintext readonly=true type="text" value="#{matcher.template}"

javascript:
  document.querySelectorAll('[data-duketype="matcher"]').forEach((i) => {
    i.addEventListener('click', (event) => {
      if(event.altKey){
        mainform.value = "edit matcher " +  event.target.dataset.label; mainform.focus();
      }
    })
  });
