.outer.mt-5
  form action="/matcher_save" method="POST"
    .mb-3
      input type="hidden" name="type" value="#{@matcher.type}"
      label.form-label for="label" Label
      input.form-control type="text" name="label" value="#{@matcher.label}" required=true

    .mb-3
      label.form-label for="matcher" Matcher
      input#matcher.form-control type="text" name="matcher" value="#{@matcher.matcher}" required=true placeholder="Regexp to match input."
    .col-4.form-check.form-switch
      - onoff = @matcher.flags == ''
      input#casesense.form-check-input name="casesensitive" type="checkbox" role="switch" checked=onoff
      label.form-check-label for="casesense" Case Sensitive?


    .mb-3
      label.form-label for="template" Template
      input#template.form-control type="text" name="template" value="#{@matcher.template}" required=true placeholder="The value(s) of capture groups from the matcher will replace ${*}, ${1}, ${2} etc"

    button.btn.btn-primary type="submit" Save

  .mt-5.row
    .mb-3.col
      label.form-label for="testinput" Test Input
      input#tinput.form-control type="text" name="testinput"
      button.btn.btn-primary onClick="matcherTest()" Test

  .mt-5.row
    .mb-3.col
      label.form-label for="testoutput" Test Output
      input#toutput.form-control type="text" name="testoutput" disabled=true

javascript:
  let casesense           = document.querySelector('#casesense')
  let matcher_input       = document.querySelector('#matcher')
  let matcher_template    = document.querySelector('#template')
  let matcher_test_input  = document.querySelector('#tinput')
  let matcher_test_output = document.querySelector('#toutput')

  function matcherTest(){
    flags = casesense.checked ? '' : 'i'
    try {
      const re = new RegExp(matcher_input.value, flags)
      let captures = re.exec(matcher_test_input.value)
      new_value = matcher_template.value.replace('${*}',captures[1])
      // javascript is the best.
      pointless_javascript_hoops = new_value.matchAll(/\$\{(\d+)\}/g)
      look_ma_more_hoops = [...pointless_javascript_hoops]
      for (let stupid of look_ma_more_hoops){
        let [_why_is_this_here, i_wish_i_could_use_more_pointless_variables] = stupid
        let pos = parseInt(i_wish_i_could_use_more_pointless_variables)
        let replacement = captures[pos]
        let re = new RegExp(`\\\$\\\{${pos}\\\}`)
        new_value = new_value.replace(re, replacement)
      }

      matcher_test_output.value = new_value //GOOD DAY!
    } catch(err) {
      if (err.name == 'TypeError'){ err = "No match." }
      matcher_test_output.value = err
    }
  }

  matcher_test_input.addEventListener('keydown', e => {
    if ( e.keyCode == ENTER ){
      e.preventDefault()
      matcherTest()
    }
  })
