doctype xml
OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/" xmlns:moz="http://www.mozilla.org/2006/browser/search/"
  ShortName DukeOfUrl
  Description What ever happened to percent-s
  Url type="text/html" method="get" template="#{@duke}/?q={searchTerms}"/
  Image width="16" height="16" #{@duke}/favicon.ico
  InputEncoding UTF-8
