- keys = @defaults.keys
.outer#prefs.row
  nav.col-2
    div#preftoc.list-group.font-smaller
      - keys.sort.each do |key|
        - user = prefs.fetch(key)
        - default = @defaults[key][:default]
        - samezies = user == default
        - asterisk = samezies ? '' : '&ast;'
        a.list-group-item.list-group-item-action href="##{key.gsub(':','')}" #{key}#{{asterisk}}

  .prefdisplay.col-8 data-bs-spy="scroll" data-bs-target="#preftoc" data-bs-smooth-scroll="true" tabindex="0"
    - keys.sort.each do |key|
      - user = prefs.fetch(key)
      - default = @defaults[key][:default]
      - samezies = user == default
      - asterisk = samezies ? '' : '&ast;'
      - bootylicious = samezies ? '' : "bg-secondary"
      - verb = samezies ? 'set' : 'unset'

      .prefcontainer.p-2.mb-4.mx-2.border-bottom id="#{key.gsub(':','')}"
        .row
          label.col-2.col-form-label.key Name#{{asterisk}}
          .col-10.clickable data-duketype="pref" data-key="#{key}" data-verb="#{verb}"
            input.form-control-plaintext readonly=true type="text" value="#{key}"
        .row
          label.col-2.userkey.clickable.col-form-label data-duketype="pref" data-key="#{key}" data-verb="set" data-user="#{{user}}" User&nbsp;Value
          .col-10.uservalue class="#{bootylicious}"
            input.form-control-plaintext type="text" class=(samezies ? 'samezies' : 'notsamezies') value="#{{user}}" readonly=true
        .row
          label.col-2.defaultkey.clickable.col-form-label data-duketype="pref" data-key="#{key}" data-verb="unset" Default&nbsp;Value
          .col-10.defaultvalue
            input.form-control-plaintext type="text" class=(samezies ? 'samezies' : 'notsamezies') value="#{{default}}" readonly=true
        .row
          label.col-2.validatorkey.col-form-label Validator
          .col-10.validatorvalue.font-smaller
            input.form-control-plaintext type="text" value="#{@defaults[key][:valid]}" readonly=true
        .description.my-2
          | #{@defaults[key][:description]}

  .trivia.col-2.font-smaller
    - mosty = ::DukeOfUrl::History::HistoryEntry.order_by(::Sequel.desc(:visit_count)).first || ::DukeOfUrl::NullObj.new("No Data")
    - color_overrides = ::DukeOfUrl::Preferences::Pref.uiprefs.all.select{|pref| pref.key.include?('color') || pref.key.include?('background')}
    ul.list-group
      li.list-group-item Aliases #{::DukeOfUrl::Matchers.aliases.count}
      li.list-group-item Bookmarks #{::DukeOfUrl::Bookmarks::Bookmark.count}
      li.list-group-item Bookmark Tags #{::DukeOfUrl::Bookmarks::Tag.count{distinct(tag)}}
      li.list-group-item History entries #{::DukeOfUrl::History::HistoryEntry.count}
      li.list-group-item
        | Most Historied: #{mosty.visit_count} visits
        br
        a style="margin-left: 2rem" href="/?q=#{mosty.encoded}" #{mosty.text}
      - unless color_overrides.empty?
        li.list-group-item
          | Color overrides
          - color_overrides.each do |pref|
            div.color-override-container
              a href="##{pref.key.gsub(':','')}" #{pref.key}
              div.color-override-indicator style="background: #{pref.value}"

javascript:
  var mainform = document.getElementById('mainform');
  document.querySelectorAll('[data-duketype="pref"]').forEach((i) => {
    i.addEventListener('click', (event) => {
      const verb = event.target.dataset.verb;
      const value = event.target.dataset.user || "";
      if(event.altKey){ verb = "unset "}
      mainform.value = verb + " " + event.target.dataset.key + " " + value;
      mainform.focus();
    })
  });
