.outer
  h6 Bookmark Tag Cloud
  .tagcloudwrapper
    ul.list-unstyled.p-0.d-flex.flex-wrap.justify-content-center.align-items.tagcloud
      - tags = DukeOfUrl::Bookmarks::Tag.cloud
      - tags_max_count = tags.max(&:count)
      - tags.each do |tag|
        li.d-block
          a.lh-base.tagcloud data-duketype="bmtag" title="Count: #{tag.count}" data-tag="#{tag.tag}" data-weight="#{tag.cloud_factor(tags_max_count)}" href="/bookmarks/#{tag.encoded_tag}" #{tag.tag}

javascript:
  document.querySelectorAll('ul.tagcloud a').forEach((i) => { i.style.setProperty('--size', i.dataset.weight); });
