svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="TagCloud" x="0px" y="0px" width="24px" height="24px" enable-background="new 0 0 64 64" xml:space="preserve"
  g
    path fill-rule="evenodd" clip-rule="evenodd" d="M53.765,25.088C52.351,15.426,44.054,8,34,8c-8.263,0-15.353,5.012-18.402,12.16C15.081,20.056,14.548,20,14,20c-4.418,0-8,3.582-8,8c0,1.818,0.614,3.488,1.636,4.832 C3.169,34.578,0,38.914,0,44c0,6.627,5.373,12,12,12h36c8.837,0,16-7.162,16-16C64,33.198,59.749,27.403,53.765,25.088z M48,54H12 C6.478,54,2,49.523,2,44s4.478-10,10-10c0.553,0,1-0.447,1-1c0-0.551-0.444-0.996-0.995-0.998h0.015C12.013,32.002,12.007,32,12,32 c-0.771,0-1.521,0.08-2.251,0.219C8.673,31.135,8,29.648,8,28c0-3.313,2.687-6,6-6c1.657,0,3.157,0.672,4.243,1.758 c0,0,1.007,0.992,1.757,0.244c0.75-0.75-0.343-1.658-0.343-1.658c-0.626-0.625-1.359-1.141-2.163-1.531 c0.002,0,0.004,0.001,0.006,0.002C20.275,14.451,26.614,10,34,10c8.72,0,15.988,6.2,17.644,14.433 c0.004,0.001,0.007,0.002,0.011,0.003C50.479,24.16,49.26,24,48,24c-0.553,0-1,0.447-1,1s0.447,1,1,1c7.732,0,14,6.269,14,14 S55.732,54,48,54z"
    path fill-rule="evenodd" clip-rule="evenodd" d="M48,30c-0.553,0-1,0.447-1,1s0.447,1,1,1c4.418,0,8,3.582,8,8 c0,0.553,0.447,1,1,1s1-0.447,1-1C58,34.477,53.522,30,48,30z"
    path fill-rule="evenodd" clip-rule="evenodd" d="M18.828,35.281c-0.75,0.734,0.243,1.647,0.243,1.647 C20.881,38.738,22,41.238,22,44c0,0.553,0.447,1,1,1s1-0.447,1-1c0-3.313-1.344-6.313-3.515-8.485 C20.485,35.515,19.578,34.547,18.828,35.281z"

