- @todo      = DukeOfUrl::ToDo.read
.outer.todo hx-boost="true" hx-target="closest .todoitem" hx-swap="outerHTML swap"
  h6 To Do
  - @todo.each do |item|
    .d-flex.todoitem.pe-1.lh-lg
      .deleter.flex-shrink-0
        form action="/deletetodo/#{item.id}" method="post"
          button.btn.btn-danger type="submit" hx-ext="focus-search" hx-trigger="click" X
      .todonum.flex-shrink-0.px-2
      .task.flex-grow-1.pe-4 hx-boost="false" title="Created: #{item.created}"
        span #{{autolink item.task}}
